* {
  margin: 0;
}

body {}

h1 {
  color: white;
  display: inline-block;
  font-size: 64px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 3vh;
}

.beginning-page {
  height: 100vh;
  width: auto;
  background-color: #29282C;
  background-image: url(img/strap.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.beginning-page .logo {
  width: 13vw;
  margin: 20px 20px 0 20px;
}

.beginning-page .date {
  font-size: 64px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(217 217 217 / 56%);
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 1.5vh 6.5vw 1.5vh 6.5vw;
}

.gradient {
  width: 45%;
  height: 53vh;
  background: linear-gradient(#77090A, #1F0685);
  opacity: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 24vw;
}

.gradient img {
  height: 53vh;
  width: auto;
}

.presentation {
  color: white;
  background-color: rgb(0 0 0 / 63%);
  height: 50vh;
  width: 30%;
  position: absolute;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 20px 10px 0 10px;
}



@media (max-width: 768px) {

  h1 {
    font-size: 48px;
  }

  .beginning-page {
    height: 30vh;
    width: auto;
    background-color: #29282C;
    background-image: url(img/strap.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .beginning-page .date {
    font-size: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 1.5vh 6.5vw 1.5vh 6.5vw;
  }
}